/* Estilos generales */
.logos {
	position: fixed;
	z-index: 1;
	width: 200px;
	height: auto;
	top: 1%;
}

/* Logo HUMV */
#logo_humv {
	right: 1%;
}

/* Logo Tragsa */
#logo_tragsa {
	left: 1%;
}

/* Logo impresión */
#logo_printer {
	top: auto;
	width: 50px;
	left: 1%;
	bottom: 1%;
}

/* Logo volver atrás */
#logo_casa {
	top: auto;
	width: 50px;
	left: 1%;
	bottom: 20%;
}

/* Responsive */
@media (width <= 768px) {
	#logo_printer {
		display: none;
	}

	#logo_casa {
		bottom: 1%;
	}	
}

@media (print) {
	#logo_printer, #logo_casa {
		display: none;
	}
} 